body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f0f0f0;
}

h2 {
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the items horizontally */
    gap: 20px;          /* Space between items */
    margin-top: 20px;
}

.image-container div {
    width: 150px;       /* Fixed width for each object */
    height: 150px;
    border: 1px solid #ccc;
    overflow: hidden;   /* Prevent content overflow */
    display: flex;      /* Center SVG content within the div */
    justify-content: center;
    align-items: center;
}


.image-container div:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.correct {
    border-color: green !important;
}

.incorrect {
    border-color: red !important;
}

.message {
    font-size: 20px;
    margin-top: 20px;
    color: #444;
}

#finishButton {
    display: inline-block;
    display: none;
}


#finishButton.show {
    display: inline-block;
}

#finishButton:hover {
    background-color: #218838;
}

